
  <header>
    <div class=" first_page">
      <div class="row">
        <div class="four columns authorize">
            <% if current_user %>
              <%= link_to "Log Out", signout_path, class: "button" %>
              <%= link_to "Profile", current_user, class: "button" %>
            <% else %>
              <button class="log_in">Log In</button>
              <button class="sign_up_button">Sign Up</button>
            <% end %>

        </div>
      </div><!--row-->
    </div>
  </header>

  <div class="introduction container">
    <div class="row">
      <div class="four columns">
        <%= image_tag "accept_main.png" %>
      </div>
      <div class="eight columns">
        <h1>Challenge Accepted</h1>
        <p>Ever want to challenge someone, or prove your have the wits by completeing a challange.

            This is the place to find worthy candidates for your standards in any situation. Or, if youre looking to prove yourself to redeem respect, you will find the right goal setter to aspire toward.

            No limits to the content of a challenge. From A to Z. You have trouble finding an employee, lover, or friend, see here who can attempt your requirements. Or if you're simply bored and need to experience something new, check out ideas people testing others with.</p>
      </div>
    </div><!--row-->
  </div><!--introduction-->
  <div class="container site_explanation">
    <h1>How It Works</h1>
    <div class="create_challenge three columns">
      <%= image_tag "create.png" %>
      <p>Create Challenge</p>
    </div><!--create challenge-->
    <div class="share_challenge three columns">
      <%= image_tag "share.png" %>
      <p>Share Challenge</p>
    </div><!--share challenge-->
    <div class="accept_challenge three columns">
      <%= image_tag "accept.png" %>
      <p>Accept Challenge</p>
    </div><!--accept challenge-->
    <div class="invite_others three columns">
      <%= image_tag "invite.png" %>
      <p>Invite Others</p>
    </div><!--invite others-->
  </div><!--site_explanation-->

  <%= link_to 'Explore Challenges', challenges_path, class: "button button-primary first" %>

  <div id="log_in" style="display:none;">
    <h1>Welcome</h1>
    <div class = "log_in_form">
    <%= form_tag '/login' do %>
      <%= label_tag(:label, "Email:") %>
      <%= text_field_tag :email %><br>
      <%= label_tag :label, "Password:" %>
      <%= password_field_tag :password %><br>
      <%= submit_tag "Log In" %>
      <p><%= link_to "Log in with Facebook", "/auth/facebook", id: "sign_in", class: "button button-primary" %></p>
    <% end %>
      </div>
  </div>

  <div id="sign_up" style='display:none;'>
    <%= link_to 'Regular Sign Up', new_user_path, class: "button button-primary" %>
    <%= link_to "Sign Up with Facebook", "/auth/facebook", id: "sign_in", class: "button button-primary" %>
  </div>

  <%= javascript_include_tag 'main' %>

