<img src="<%= @challenge.img_url%>" width= "60%" height= "100px">
<h1><%= @challenge.name %></h1>
<% if @challenge.is_public %>
  <p> Public </p>
<% else %>
  <p> Private </p>
<% end %>
<%= link_to 'Description', @challenge %>
<%= link_to 'Accomplished', challenge_accepted_challenges_path(@challenge) %>
<% @accomplished_challenges.each do | accomplished | %>
  <h1><a href="/accepted_challenges/<%= accomplished.id %>"><%= "#{accomplished.user.first_name} #{accomplished.user.last_name}" %></h1>
  <img src="<%= accomplished.proofs[0].proof_url %>">
  <%= accomplished.remark %>
<% end %>

