<img src="<%= @challenge.img_url %>" height= "100px" width="60%">
<h1><%= @challenge.name %></h1>
<p>Accomplished by: <%= "#{@accepted_challenge.user.first_name} #{@accepted_challenge.user.last_name}" %> on <%= @accepted_challenge.created_at %></p>
<p>Comments: <%= @accepted_challenge.remark %></p>
<p>Proof:
  <% @accepted_challenge.proofs.each do |proof| %>
    <img src="<%= proof.proof_url %>"/>
  <% end %>
</p>

  <button class="edit_accepted_challenge_button"> Edit </button>
  <%= form_tag(accepted_challenge_path, method: :delete) do %>
  <%= submit_tag 'Delete Challenge' %>
  <% end %>

<div id="accepted_challenge_edit" style="display: none;">
  <h1>Edit Challenge</h1>
  <%= form_for @accepted_challenge do |form| %>
    <%= form.label 'Provide Proof' %>
    <%= form.fields_for :proofs do |proof| %>
      <%= proof.text_field :proof_url %>
      <%= proof.check_box '_destroy' %>
      <% proof.index %>

      <% end %>
    <%= form.label 'Leave comment:' %>
    <%= form.text_field :remark %>
    <%= form.submit 'Edit Challenge' %>
    <%= form.submit "clear", :type => "reset" %>
  <% end %>
</div>
