<header>
  <div class="row">

    <%= image_tag "logo.png", class: "logo" %>

    <% if current_user %>
      <div class="nav">
        <%= link_to "Profile", current_user, class: "button" %>
        <%= link_to "Challenges", challenges_path, class: "button" %>
        <%= link_to "Log Out", signout_path, class: "button"%>
      </div>
    <% else %>
      <div class="nav">
        <%= link_to "Home", root_path, class: "button" %>
      </div>
    <% end %>
  </div>
</header>

<div class="container index_challenges">
  <% if @user %>
    <h1>Created Challenges</h1>
    <div class= "user_challenge buttons">
      <%= link_to 'Created', user_challenges_path(@user), class: "button" %>
      <a href="/users/<%= @user.id %>/challenges/in_progress" class="button">In progress</a>
      <a href="/users/<%= @user.id %>/challenges/accomplished" class="button">Accomplished</a>
    </div><!--user_challenge buttons-->

    <div class="spec_user_challenges">
      <% @user_created_challenges.each do |created_challenge| %>
        <div class="row challenges">
          <div class="three columns">
            <img src="<%= created_challenge.img_url %>" width="50px" height="50px">
            <%= link_to created_challenge.name, user_challenge_path(@user, created_challenge) %>
            <p><%= created_challenge.description %></p>
          </div><!--four columns-->
        </div><!--row challenges-->
      <%= content_tag :div, class: 'user_challenge', data:{ user_id: @user.id} do %>
    <% end %>
  <% end %>
  </div>
  <% else %>
    <h1> Challenges</h1>
    <% @challenges.each do |challenge| %>
      <div class="row challenges">
        <div class="three columns">
          <img src="<%= challenge.img_url %>">
          <%= link_to challenge.name, challenge %>
          <p><%= challenge.description %></p>
        </div><!--three columns-->
      </div><!--row challenges-->
    <% end %>
  <% end %>
</div><!--container-->


